ul {list-style-type: none;
    height: 70px;
}

li:not(.logo) {
    height: 70px;
    float: right;
    
}

.logo {float: left;}

img {
    margin-top: 5px;
    height: 60px;
    width: 60;

}


#separatore {

    width: 1px;
    height: 35px;
    border: solid #575757 0.5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 18px;
}

nav {
    background: #002A3B;
    height: 70px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 3px;
}
a {
    display: block;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
.inlinea{

    display: inline-block;
}

.calendario:hover {

    background-color: black;
    opacity:0.5;
    padding-left: 5px;
    
}

.calendario {

    padding-right: 10px;
    padding-left: 5px;
}

.inlinea:active {position: relative; top: 2px; }

.eventi {

    padding-right: 5px;
    padding-left: 5px;
}

.eventi:hover {

    background-color: black;
    opacity:0.5;

}

#pulsante:hover {
    color: #FFFFFF;
    text-decoration: none;
}
