
<clr-datagrid (clrDgRefresh)="loadEvents($event)">
    <clr-dg-column [clrDgField]="'id'">Id</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">Desciption</clr-dg-column>
    <clr-dg-column [clrDgField]="'startDate'">Start date</clr-dg-column>
    <clr-dg-column [clrDgField]="'endDate'">End date</clr-dg-column>
    <clr-dg-column [clrDgField]="'location'">Location</clr-dg-column>

    <clr-dg-row *ngFor="let event of eventsList">
        <clr-dg-cell><span>{{event.id}}</span></clr-dg-cell>
        <clr-dg-cell><span>{{event.name}}</span></clr-dg-cell>
        <clr-dg-cell><span>{{event.description}}</span></clr-dg-cell>
        <clr-dg-cell><span>{{event.startDate | date: 'dd/MM/yyyy'}}</span></clr-dg-cell>
        <clr-dg-cell><span>{{event.endDate | date: 'dd/MM/yyyy'}}</span></clr-dg-cell>
        <clr-dg-cell><span>{{event.location}}</span></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{total}} Items 
            <clr-dg-pagination  #pagination  [clrDgTotalItems]="100" [(clrDgPage)]="currentPage"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>