<form novalidate>

    <h2>Event - {{ event?.name }}</h2>

    <div class="form-row" tabindex="1">
        <div class="form-group col-md-6">
            <label for="name">Name:</label>
            <input id="name" #name1="ngModel" name="name" required="" [(ngModel)]=event.name
                type="text" class="form-control" placeholder="Enter name">
            <div [hidden]="name1.valid || name1.pristine" class="alert alert-danger">Name is required</div>
        </div>
        <div class="form-group col-md-6">
            <label for="id">ID:</label>
            <input id="id" #id1="ngModel" name="id" required="" [(ngModel)]=event.id type="text"
                class="form-control" placeholder="Enter ID" style="width:200px">
            <div [hidden]="id1.valid || id1.pristine" class="alert alert-danger">ID is required</div>
        </div>
        <div class="form-group col-md-6">
            <label for="description">Description:</label>
            <textarea rows="4" cols="50" id="description" #description1="ngModel" name="description"
                required="" [(ngModel)]=event.description type="textarea" class="form-control"
                placeholder="Enter description"></textarea>
            <div [hidden]="description1.valid || description1.pristine" class="alert alert-danger">Description is required</div>
            <div>
                <label for="location">Location:</label>
                <input id="location" #location1="ngModel" name="location" required="" [(ngModel)]=event.location
                    type="text" class="form-control" placeholder="Enter Location">
                <div [hidden]="location1.valid || location1.pristine" class="alert alert-danger">Location is required</div>
            </div>
        </div>
        <div class="form-group ol-md-6">

        </div>
        <div class="form-group col-md-6">
            <label for="startDate">Start Date:</label>
            <input id="startDatee" #startDate1="ngModel" name="startDate" required="" [(ngModel)]="event.startDate"
                type="text" class="form-control" placeholder="Enter Start Date" style="width:200px">
            <div [hidden]="startDate1.valid || startDate1.pristine" class="alert alert-danger">Start date is required</div>

            <label for="endDate">End Date:</label>
            <input id="endDate" #endDate1="ngModel" name="endDate" required="" [(ngModel)]="event.endDate"
                type="text" class="form-control" placeholder="Enter End Date" style="width:200px">
            <div [hidden]="endDate1.valid || endDate1.pristine" class="alert alert-danger">End Date is required</div>
            <br>

            <button type="button" class="btn btn-default" (click)="save()">
				<i class="glyphicon glyphicon-ok"></i>Save
			</button>
            <button type="button" class="btn btn-default" (click)="cancel()">
				<i class="glyphicon glyphicon-remove"></i>Cancel
			</button>
        </div>

    </div>


</form>
