<div class="container">
    <div class="month">
        <ul>
            <li class="prev" (click)='prevMonth()' style="cursor: pointer;" id="pulsante">&#9668;</li>
            <li class="next" (click)='nextMonth()' style="cursor: pointer;" id="pulsante">&#9654;</li>
            <li>{{currentMont}}
                <br>
                <span style="font-size:18px">{{currentYear}}</span>
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>


    <ul class="days">

        <li *ngFor="let day of mese" class="solleva" (click)="selectModal(day)">
            <div class='day'>{{day.date.getDate()}}
                <div id='events' style="cursor: pointer;" *ngIf='day.events.length > 0' role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-bottom-right">
                    {{day.events.length}}
                    <span class="tooltip-content">N &deg; &nbsp; Eventi &nbsp; {{day.events.length}}</span>
                </div>
            </div>
        </li>

    </ul>
</div>

<clr-modal [(clrModalOpen)]="basic" [clrModalSize]="lg">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <div *ngIf="prospettoEventi">
            <table class="table">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Data inizio</th>
                        <th>Data fine</th>
                        <th>Modifica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of daySelected.events">
                        <td>{{event.name}}</td>
                        <td>{{event.startDate}}</td>
                        <td>{{event.endDate}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="editEvent(event)">
                                <clr-icon shape="pencil"></clr-icon>&thinsp;Edit
                            </button>
                            <button type="button" class="btn btn-danger">
                                <clr-icon shape="trash"></clr-icon>&thinsp;Delete
                            </button>
                    </tr>
                </tbody>
            </table>
            <button style="float:right; margin-top: 20px" type="button" class="btn btn-primary" (click)="addEventProspettoModal()">
                <clr-icon shape="plus"></clr-icon>&thinsp;add event
            </button>
            <button style="float:right; margin-top: 20px" type="button" class="btn btn-outline" (click)="cancelProspettoModal()">
                cancel
            </button>
        </div>


        <form #myForm="ngForm" *ngIf="edit">
            <section class="form-block">
                <label>Form Inside a Grid</label>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="gForm_1">Input field</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input class="form-control" type="date" [ngModel]="eventSelected.startDate" id="gForm_1" size="45" name="startDate">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input class="form-control" type="password" id="gForm_2" placeholder="Enter another value here" size="35">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="gForm_3">Select box</label>
                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
                        <div class="select form-control">
                            <select id="gForm_3">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="gForm_4">Text area</label>
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        <textarea id="gForm_4" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label>Another select box</label>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                        <div class="select form-control">
                            <select id="exampleSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
                        <span>Sockets: 1</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <label for="gForm_3">Other form fields</label>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                        <div class="toggle-switch">
                            <input type="checkbox" id="othertoggle">
                            <label for="othertoggle">Toggle</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="checkbox-inline">
                            <input type="checkbox" id="othercheckbox" checked>
                            <label for="othercheckbox">Inline Checkbox</label>
                        </div>
                    </div>
                </div>
                <button  style="float:right; margin-top: 20px" type="button" class="btn btn-primary" (click)="addEventProspettoModal()">
                    <clr-icon shape="plus"></clr-icon>&thinsp;save
                </button>
                <button  style="float:right; margin-top: 20px" type="button" class="btn btn-outline" (click)="hideEditModal()">
                    cancel
                </button>
            </section>
        </form>

    </div>
</clr-modal>