ul {list-style-type: none;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background:#003333;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #CBCBCB;

}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    border: 1px solid #CBCBCB;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center
}

/* Days (1-31) */
.days {
    border: 1px solid #CBCBCB;
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.days li {
    list-style-type: none;
    display: inline-table;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    padding: 5px;
    height: 46px;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

 #events {
    width:16px;
	height:16px;
    border-radius:50%;
    color: wheat;
    background:red;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
}

.day {
    
    height:40px;
}


#pulsante:active{
    position: relative; top: 2px;
}

#pulsante {
    color: white;
    font-size: 20px;
}

.solleva:hover {
    transform: translate(0px, 2px);
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px;
    border-radius: 2px;
}




.container { width: 98%; margin: 0 auto; overflow: auto;}

 
 

@media only screen and (min-width: 320px) and (max-width: 700px) {
    th.dataInizio  {
        display: none;
    }
    td.dataInizio  {
        display: none;
    }
    th.dataFine  {
        display: none;
    }
    td.dataFine  {
        display: none;
    }
} 




 
 
